body{
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card.box{
    width: 400px;
    min-height: 490px;
}

#app{
    position: absolute;
    top: 327px;
    left: 627px;
    display: none;
}
.d-block{
    display: block !important;
}
.star-rating{
    display: inline-block;
    color: gold;
    font-size: 4rem;
    position: relative;
}

.star-rating .star-rating__current{
    position: absolute;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
}